Workflow_supabase_only_excell_Zalo_Th.json
{
  "name": "Workflow_supabase_only_excell_Zalo_Th",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File ID_!').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain",
              "sheetsToFormat": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
            }
          }
        }
      },
      "id": "5293db4b-11e8-43ec-8fdc-e126807bbe2e",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1072,
        848
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vT971jVDaeXm38jP",
          "name": "Google Drive account 18"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "15Lw7che9dDhSLb90Q4n8FYnE0Y0A0RDO",
          "mode": "list",
          "cachedResultName": "00.Rexcel",
          "cachedResultUrl": "https://drive.google.com/drive/folders/15Lw7che9dDhSLb90Q4n8FYnE0Y0A0RDO"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "812f7450-c3bd-4d0a-b688-e623d8157578",
      "name": "File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        608
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vT971jVDaeXm38jP",
          "name": "Google Drive account 18"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "15Lw7che9dDhSLb90Q4n8FYnE0Y0A0RDO",
          "mode": "list",
          "cachedResultName": "00.Rexcel",
          "cachedResultUrl": "https://drive.google.com/drive/folders/15Lw7che9dDhSLb90Q4n8FYnE0Y0A0RDO"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "39026e12-c521-4358-beb9-3b8b5d484f3b",
      "name": "File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        848
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vT971jVDaeXm38jP",
          "name": "Google Drive account 18"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.file_id }}*"
      },
      "id": "7b6500a8-ea54-4c7b-8cfd-6afc82ce2687",
      "name": "Delete Old Doc Rows",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        464,
        656
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "gJbsSsZuF9wkSHGU",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "## RAG AI Agent with Chat Interface",
        "height": 465,
        "width": 1340
      },
      "id": "80add4fb-6687-4179-bb7f-75c3dcc10969",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        416,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cd3f502e-df7e-4e4c-8ed9-a6fb1b6d3e40",
        "options": {}
      },
      "id": "557c4ec6-8e52-4501-ba25-29bbca0a8cee",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        784,
        48
      ],
      "webhookId": "cd3f502e-df7e-4e4c-8ed9-a6fb1b6d3e40"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Input_chat }}",
        "options": {
          "systemMessage": "=Xin chào! Tôi là Thu Nhi - Trợ lý Nghiệp Vụ của Công ty Anh Lập Trình 👋\nTôi có thể hỗ trợ bạn về:\n\nTrả lời câu hỏi dựa trên dữ liệu quy trình: Khi bạn đặt câu hỏi, hãy luôn kiểm tra node “Get File Contents” để lấy nội dung tệp và dùng đúng thông tin đó để phản hồi.\n\nĐảm bảo tính nhất quán: Mọi lần trả lời đều thực hiện bước kiểm tra node “Get File Contents” trước, và trả lời theo nội dung lấy được từ node này (luôn luôn như vậy)."
        }
      },
      "id": "63c81306-0d84-4a3d-b9b1-31a521163b25",
      "name": "RAG AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1248,
        80
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "2ae7faa7-a936-4621-a680-60c512163034",
                    "leftValue": "={{ $('Set File ID_!').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel 1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "b3b66a9e-8aca-4f0d-9864-f2e03c7a27cd",
                    "leftValue": "={{ $('Set File ID_!').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel 3"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "fc193b06-363b-4699-a97d-e5a850138b0e",
                    "leftValue": "={{ $('Set File ID_!').item.json.file_type }}",
                    "rightValue": "=application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel 2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "bb391e81-4667-4854-8033-e2771d1f69fb",
                    "leftValue": "={{ $('Set File ID_!').item.json.file_type }}",
                    "rightValue": "application/vnd.ms-excel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel 4"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "f5de71c8-289a-477b-ae62-f336e7286a0c",
                    "leftValue": "={{ $('Set File ID_!').item.json.file_type }}",
                    "rightValue": "text/csv",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Csv"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "3af40d36-ddfb-46a0-a2c8-28bb12440097",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1328,
        752
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "9bb2d14e-c7e3-4074-8bb0-994f66c479cd",
      "name": "Extract from Excel",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1712,
        752
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f422e2e0-381c-46ea-8f38-3f58c501d8b9",
              "name": "schema",
              "value": "={{ $('Extract from Excel').isExecuted ? $('Extract from Excel').first().json.keys().toJsonString() : $('Extract from CSV').first().json.keys().toJsonString() }}",
              "type": "string"
            },
            {
              "id": "bb07c71e-5b60-4795-864c-cc3845b6bc46",
              "name": "data",
              "value": "={{ $json.concatenated_data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3024,
        688
      ],
      "id": "0a50628d-83da-4aa8-ae11-bc5b1720ecc9",
      "name": "Set Schema"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1744,
        944
      ],
      "id": "d6db4d65-acf1-4c10-b837-fca7484a88a1",
      "name": "Extract from CSV"
    },
    {
      "parameters": {
        "content": "## Run Each Node Once to Set Up Database Tables",
        "height": 300,
        "width": 680,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -352,
        16
      ],
      "typeVersion": 1,
      "id": "f7ee17e2-7d19-40c9-ac3e-d264fc12f918",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to fetch all available documents, including the table schema if the file is a CSV or Excel file.",
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_metadata",
          "mode": "list",
          "cachedResultName": "document_metadata"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.5,
      "position": [
        1360,
        304
      ],
      "id": "c610472c-4717-4963-8c86-3f77c97ef967",
      "name": "List Documents",
      "credentials": {
        "postgres": {
          "id": "lZKNcJhVZD5rCkZk",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Given a file ID, fetches the text from the document.",
        "operation": "executeQuery",
        "query": "SELECT \n    string_agg(content, ' ') as document_text\nFROM documents\n  WHERE metadata->>'file_id' = $1\nGROUP BY metadata->>'file_id';",
        "options": {
          "queryReplacement": "={{ $fromAI('file_id') }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.5,
      "position": [
        1536,
        304
      ],
      "id": "7f42feb4-2525-4fe7-ae41-c3d8878e80a9",
      "name": "Get File Contents",
      "credentials": {
        "postgres": {
          "id": "lZKNcJhVZD5rCkZk",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -48,
        640
      ],
      "id": "d38d6a02-97dc-4caf-95c7-21ae0b8b4b0b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Kích hoạt extension pgvector\nCREATE EXTENSION IF NOT EXISTS vector;\nDROP FUNCTION IF EXISTS public.match_documents(vector, int, jsonb);\n\n-- Tạo bảng lưu metadata của tài liệu\nCREATE TABLE document_metadata (\n    id TEXT PRIMARY KEY,\n    title TEXT,\n    url TEXT,\n    ggdrive_di TEXT,\n    created_at TIMESTAMP DEFAULT NOW(),\n    schema TEXT\n);\n\n-- Tạo bảng lưu các dòng dữ liệu của tài liệu\nCREATE TABLE document_rows (\n    id SERIAL PRIMARY KEY,\n    dataset_id TEXT REFERENCES document_metadata(id),\n    row_data JSONB  -- Lưu trữ dữ liệu dòng thực tế\n);\n\n-- Tạo bảng lưu trữ tài liệu và embedding của chúng\nCREATE TABLE documents (\n  id BIGSERIAL PRIMARY KEY,\n  content TEXT,  -- Nội dung tài liệu\n  metadata JSONB,  -- Metadata của tài liệu\n  embedding VECTOR(1536)  -- 1536 là kích thước của embedding, có thể thay đổi tùy theo nhu cầu\n);\n\n-- Tạo hàm để tìm kiếm tài liệu dựa trên embedding\nCREATE FUNCTION match_documents (\n  query_embedding VECTOR(1536),\n  match_count INT DEFAULT NULL,\n  filter JSONB DEFAULT '{}'\n) RETURNS TABLE (\n  doc_id BIGINT,\n  content TEXT,\n  metadata JSONB,\n  similarity FLOAT\n)\nLANGUAGE plpgsql\nAS $$\nBEGIN\n  RETURN QUERY\n  SELECT\n    documents.id AS doc_id,  -- Đổi tên cột 'id' của bảng 'documents' thành 'doc_id'\n    documents.content,\n    documents.metadata,\n    1 - (documents.embedding <=> query_embedding) AS similarity\n  FROM documents\n  JOIN document_metadata ON documents.id = document_metadata.id  -- Liên kết với bảng document_metadata\n  LEFT JOIN document_rows ON document_metadata.id = document_rows.dataset_id  -- Liên kết với bảng document_rows\n  WHERE documents.metadata @> filter\n  ORDER BY documents.embedding <=> query_embedding\n  LIMIT match_count;\nEND;\n$$;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -96,
        80
      ],
      "id": "89784d1d-472e-4026-a20f-fa5e950743b3",
      "name": "Create Documents Table and Match Function",
      "credentials": {
        "postgres": {
          "id": "lZKNcJhVZD5rCkZk",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "document_rows",
        "filters": {
          "conditions": [
            {
              "keyName": "dataset_id",
              "condition": "eq",
              "keyValue": "={{ $('Set File ID_!').item.json.file_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        672,
        656
      ],
      "id": "1525ef91-ac4b-4b22-9670-fccd74abf9a3",
      "name": "Delete Old Data Rows",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "gJbsSsZuF9wkSHGU",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_metadata",
          "mode": "list",
          "cachedResultName": "document_metadata"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Set File ID_!').item.json.file_id }}",
            "title": "={{ $('Set File ID_!').item.json.file_title }}",
            "url": "={{ $('Set File ID_!').item.json.file_url }}",
            "schema": "={{ $('Set File ID_!').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "schema",
              "displayName": "schema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        832,
        656
      ],
      "id": "20a961b6-50bb-4834-862f-a9148640edf6",
      "name": "Insert Document Metadata",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "lZKNcJhVZD5rCkZk",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_rows",
          "mode": "list",
          "cachedResultName": "document_rows"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "dataset_id": "={{ $('Set File ID_!').item.json.file_id }}",
            "row_data": "={{ $json.toJsonString().replaceAll(/'/g, \"''\") }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dataset_id",
              "displayName": "dataset_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_data",
              "displayName": "row_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2288,
        960
      ],
      "id": "154ce2bb-886f-4f5c-bef4-a58dae7d45ed",
      "name": "Insert Table Rows",
      "credentials": {
        "postgres": {
          "id": "lZKNcJhVZD5rCkZk",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_metadata",
          "mode": "list",
          "cachedResultName": "document_metadata"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Set File ID_!').item.json.file_id }}",
            "schema": "={{ $json.schema }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "schema",
              "displayName": "schema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3376,
        688
      ],
      "id": "cef5fae0-6e98-4e8f-9549-847a151e5419",
      "name": "Update Schema for Document Metadata",
      "credentials": {
        "postgres": {
          "id": "lZKNcJhVZD5rCkZk",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id,url  FROM public.document_metadata;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        32,
        1872
      ],
      "id": "038e3572-9a00-4ad1-a838-ab7f3af1ce66",
      "name": "Node_postgres",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "lZKNcJhVZD5rCkZk",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7134e92c-2e4f-49b3-a0d1-dbe856ebef2c",
              "leftValue": "={{ $('Code1').item}}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1152,
        1872
      ],
      "id": "95e56d1a-da10-4d43-bc03-6c6ac2c7f7c4",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "21651ed3-cfa6-4ef8-940b-fb734b9e4fc5",
              "leftValue": "={{ $('Set File ID_!').item.json.file_type }}",
              "rightValue": "video/mp4",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        864,
        880
      ],
      "id": "98bef0ba-2bef-4dfe-8859-517ce4e10159",
      "name": "If1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "id"
            },
            {
              "fieldToAggregate": "url"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        224,
        1872
      ],
      "id": "f79502aa-580f-4105-8045-888860dd8c4f",
      "name": "AggregateDB"
    },
    {
      "parameters": {
        "jsCode": "// Lấy hai mảng từ input trong n8n\nconst array1 = $('AggregateDB').first().json.id || [];\nconsole.log('array1: ',array1);\nconst array2 = $('AggregateGGDRive').first().json.id.map(item => item.id) || [];\nconsole.log('array2: ',array2)\n\nconst uniqueIDs = [\n  ...array1.filter(id => !array2.includes(id)), // ID chỉ có trong array1\n  ...array2.filter(id => !array1.includes(id))  // ID chỉ có trong array2\n];\nconsole.log('arrFilter1: ',array1.filter(id => !array2.includes(id)))\nconsole.log('arrFilter2: ',array2.filter(id => !array1.includes(id)))\nconsole.log('uniqueIDS: ',uniqueIDs)\n// Chuyển đổi kết quả thành định dạng mong muốn\nconst result = uniqueIDs.map(id => ({ id }));\n\n// Trả về kết quả\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        1872
      ],
      "id": "8afcc91b-1091-455a-942b-b8f7a01bb763",
      "name": "Code1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -256,
        1872
      ],
      "id": "c43342e3-781f-4bb9-adff-daae104255ac",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1440,
        1856
      ],
      "id": "4ac1eac9-ec04-4bf2-b312-ad8646a434fc",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "document_rows",
        "filters": {
          "conditions": [
            {
              "keyName": "dataset_id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1696,
        1888
      ],
      "id": "539cb17b-a8e2-44e3-9089-1e781d13dbf7",
      "name": "Delete Document_Rows",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "gJbsSsZuF9wkSHGU",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "document_metadata",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Loop Over Items2').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1872,
        1888
      ],
      "id": "b3e9f3e7-2275-462b-9f5e-a19ae5d948ab",
      "name": "Delete Document_Metadata",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "gJbsSsZuF9wkSHGU",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $('Loop Over Items2').item.json.id }}*"
      },
      "id": "ed7988b1-42dd-4546-93d1-dbdde40e2255",
      "name": "Delete Documents",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2544,
        1888
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "gJbsSsZuF9wkSHGU",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "69a951b3-58cf-4caf-9f9d-70f1bdcb2e78",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2160,
        1888
      ],
      "id": "0a8eb819-a62a-4e87-b6a7-b94f99566f37",
      "name": "If3"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "15Lw7che9dDhSLb90Q4n8FYnE0Y0A0RDO",
            "mode": "list",
            "cachedResultName": "00.Rexcel",
            "cachedResultUrl": "https://drive.google.com/drive/folders/15Lw7che9dDhSLb90Q4n8FYnE0Y0A0RDO"
          },
          "whatToSearch": "files",
          "includeTrashed": false
        },
        "options": {
          "fields": [
            "id"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        432,
        1872
      ],
      "id": "06d4684c-11c9-4c5a-91c7-f87416f3279a",
      "name": "Node_drive",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vT971jVDaeXm38jP",
          "name": "Google Drive account 18"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "id",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        656,
        1872
      ],
      "id": "904f6959-e0bd-45ac-b686-461d5e881651",
      "name": "AggregateGGDRive"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            },
            {
              "id": "77d782de-169d-4a46-8a8e-a3831c04d90f",
              "name": "file_title",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "9bde4d7f-e4f3-4ebd-9338-dce1350f9eab",
              "name": "file_url",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            },
            {
              "id": "b8735aa6-4e47-4197-9f36-6559fa4d4420",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2789e389-e2bf-4292-9198-18482e331715",
      "name": "Set File ID_!",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        656
      ]
    },
    {
      "parameters": {
        "content": "## Tool to Add a Google Drive File to Vector DB",
        "height": 1104,
        "width": 4525,
        "color": 5
      },
      "id": "4b52d316-bb6a-4fbf-aeaf-7c01267a761c",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -320,
        496
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.Secction_ID }}",
        "contextWindowLength": 1
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1232,
        304
      ],
      "id": "1d21c5be-3488-4de4-86d5-6a08c031b4b5",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "lZKNcJhVZD5rCkZk",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1104,
        304
      ],
      "id": "7920ee0c-e22b-431a-a817-0a7baa68ace1",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "npFYeWDWRwkqivvM",
          "name": "Google Gemini(PaLM) Api account 7"
        }
      }
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "b79c2ee7-06a8-435c-867b-2ebe1a6bc627",
      "name": "Summarize",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        2608,
        832
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "08321292-9e6c-44ec-ab5a-c7b196e49a73",
      "name": "Insert into Supabase Vectorstore",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        3472,
        944
      ],
      "credentials": {
        "supabaseApi": {
          "id": "gJbsSsZuF9wkSHGU",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "27d9e349-cce2-427e-8214-eb82595bb331",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2256,
        784
      ]
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data || $json.text || $json.concatenated_data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Set File ID_!').first().json.file_id }}"
              },
              {
                "name": "file_title",
                "value": "={{ $('Set File ID_!').first().json.file_title }}"
              }
            ]
          }
        }
      },
      "id": "05f1e2f8-3710-447c-8c16-6065dcc460d9",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        3680,
        1200
      ]
    },
    {
      "parameters": {
        "chunkOverlap": 100
      },
      "id": "4e7e0350-73a3-48d8-8bab-350c2436f9a9",
      "name": "Character Text Splitter1",
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        3696,
        1344
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        3392,
        1232
      ],
      "id": "3a062a63-a3bd-440c-b9b8-b28ef43e4000",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "O00uQUVJ3Z2xrDsL",
          "name": "OpenAi account 7"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://bot-api.zaloplatforms.com/bot{{ $json.access_token_zalo.trim() }}/setWebhook ",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.Webhook_URL }}"
            },
            {
              "name": "secret_token",
              "value": "aa1233456"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        192,
        -384
      ],
      "id": "6b83aba5-618c-4054-9ec0-b04af18c6528",
      "name": "HTTP Request"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -256,
        -384
      ],
      "id": "42e3bbc6-d523-48f4-972a-149b1f0cee22",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "801137d3-13bc-4dae-a74d-bfb1c4454f77",
              "name": "access_token_zalo",
              "value": "1557241312791489551:iDSoZYPCeemCBHiwOqQkDWeCTrjfHehgKZpmWbFGVTAQetDtPMawAcOveeFJPqDW",
              "type": "string"
            },
            {
              "id": "851b57e5-fbbc-4793-9fe1-8b70c2dea794",
              "name": "Webhook_URL",
              "value": "https://vpsn8n.anhlaptrinh.vn/webhook/cd3f502e-df7e-4e4c-8ed9-a6fb1b6d3e40",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        -384
      ],
      "id": "34631e55-933b-49a2-90c3-02f5c642f97c",
      "name": "Input1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://bot-api.zaloplatforms.com/bot{{ $('Input3').item.json.access_token.trim() }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Webhook').item.json.body.message.from.id.trim() }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1600,
        80
      ],
      "id": "cd7e5f7a-dddc-4c30-9ba1-422b954adf93",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "801137d3-13bc-4dae-a74d-bfb1c4454f77",
              "name": "access_token",
              "value": "1557241312791489551:iDSoZYPCeemCBHiwOqQkDWeCTrjfHehgKZpmWbFGVTAQetDtPMawAcOveeFJPqDW",
              "type": "string"
            },
            {
              "id": "437f90a6-ff8d-4d44-bce9-318499e494ca",
              "name": "Secction_ID",
              "value": "={{ $json.body.message.chat.id }}",
              "type": "string"
            },
            {
              "id": "ef059b7e-4d0d-4fcd-a018-97ac3752772e",
              "name": "Input_chat",
              "value": "={{ $json.body.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        48
      ],
      "id": "c406542c-b3b4-470a-a7c8-cbfbb1b308be",
      "name": "Input3"
    },
    {
      "parameters": {
        "content": "## Bot_KHDK Anh Lap Trinh",
        "height": 288,
        "width": 832
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -352,
        -464
      ],
      "id": "c830a6e4-371d-4598-be9b-ccdadb519c80",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "",
        "height": 576,
        "width": 3232
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -320,
        1696
      ],
      "id": "cda55532-dce5-445b-9fb6-42bf740081c4",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "vpsn8n.anhlaptrinh.vn",
            "user-agent": "Java/1.8.0_192",
            "content-length": "283",
            "accept": "text/html, image/gif, image/jpeg, *; q=.2, */*; q=.2",
            "content-type": "application/json",
            "x-bot-api-secret-token": "aa1233456",
            "x-forwarded-for": "118.102.2.29",
            "x-forwarded-host": "vpsn8n.anhlaptrinh.vn",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "488f8becda86",
            "x-real-ip": "118.102.2.29",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "event_name": "message.text.received",
            "message": {
              "date": 1769675037455,
              "chat": {
                "chat_type": "PRIVATE",
                "id": "2d39a28924d9cd8794c8"
              },
              "message_id": "35eca046ec9cc8c4918b",
              "from": {
                "id": "2d39a28924d9cd8794c8",
                "is_bot": false,
                "display_name": "Anh Lập Trình Thứ Nhất"
              },
              "text": "Hi bạn"
            }
          },
          "webhookUrl": "https://vpsn8n.anhlaptrinh.vn/webhook/cd3f502e-df7e-4e4c-8ed9-a6fb1b6d3e40",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Download File": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Created": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Updated": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Doc Rows": {
      "main": [
        [
          {
            "node": "Delete Old Data Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from Excel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Excel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Excel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Excel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from CSV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Excel": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Table Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Schema": {
      "main": [
        [
          {
            "node": "Update Schema for Document Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from CSV": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Documents": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get File Contents": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Set File ID_!",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Data Rows": {
      "main": [
        [
          {
            "node": "Insert Document Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Document Metadata": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Node_postgres": {
      "main": [
        [
          {
            "node": "AggregateDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AggregateDB": {
      "main": [
        [
          {
            "node": "Node_drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Node_postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Delete Document_Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Document_Rows": {
      "main": [
        [
          {
            "node": "Delete Document_Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Document_Metadata": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Documents": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Delete Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Node_drive": {
      "main": [
        [
          {
            "node": "AggregateGGDRive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AggregateGGDRive": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID_!": {
      "main": [
        [
          {
            "node": "Delete Old Doc Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Input3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Input1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input3": {
      "main": [
        [
          {
            "node": "RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "80afb9e2-e176-4dcc-a4d5-c13f84020cbf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8ae9064574590f4bef62fe6c8cafaae52a5a90dd40cb184103af1049753a2d5d"
  },
  "id": "eUGkWix3snUNobGD",
  "tags": []
}